@import "tailwindcss";

@theme {
  --color-background: #0F172A;
  --color-surface: #1E293B;
  --color-primary: #3B82F6;
  --color-secondary: #10b981;
  --color-accent: #61DAFB;
  --color-text: #F8FAFC;
  --color-muted: #94A3B8;

  --font-sans: 'Inter', sans-serif;
  --font-mono: 'Fira Code', monospace;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-background text-text font-sans antialiased;
  }
  
  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-background;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-surface rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-muted;
  }
}
